/build/
/build-*/
/*-build-*/

Makefile
Makefile.*
.qmake.stash
*.pro.user
*.pro.user.*

moc_*.cpp
moc_predefs.h
ui_*.h
qrc_*.cpp

*.o
*.obj
*.a
*.so
*.so.*
*.dll
*.dylib
*.exe

/sbk_test

compile_commands.json
.cache/
.clangd/
.vscode/
.idea/

*.autosave
*~
